<div *ngIf="artist">
  <header>
    <div ng-if="artist.images.length > 0">
      <!--<div class="row">
        <div class="col-xs-2">-->
          <img class="artist-thumb img-responsive img-circle" src="{{artist.images[0].url}}">
        </div>
        <!--<div class="col-xs-10">-->
          <h1>{{artist.name}}</h1>
          <p *ngIf="artist.genres.length>0">
            <strong>Genres: </strong>
            <span *ngFor="let genre of artist.genres">{{genre}}, </span>
          </p>
        <!--</div>
      </div>-->
    <!--</div>-->
  </header>
</div>